:root {
  --color-primary: var(--color-green);
  --color-secondary: var(--color-yellow);

  --color-green: #7cb490;
  --color-yellow: #fff2af;
  --color-red: #d31900;
  --color-orange: #ff6600;

  --color-black: #000000;

}
